{{!-- Create a table --}}
<table>
  {{!-- Header Section --}}
	<thead>
    {{!-- For just the first row, we print each key of the row object as a header cell so we know what each column menas when the page renders --}}
		<tr>
      <th class="new-link" onclick="handleNewBtnClick()">New</th>
      <th></th>
			<th>CharacterID</th>
      <th>PlayerID</th>
      <th>Name</th>
      <th>Level</th>
      <th>Experience</th>
      <th>Agility</th>
      <th>Strength</th>
      <th>Magic</th>
      <th>Health</th>
		</tr>
	</thead>
  {{!-- Body section --}}
	<tbody>
    {{!-- For each row, print the keys and attributes --}}
		{{#each data}}
		<tr data-value="{{this.character_id}}">
      <td class="edit-link" onclick="setupCharacterEdit({{this.character_id}})">Edit</td>
      <td class="delete-link" onclick="deleteCharacter({{this.character_id}})">Delete</td>
			<td>{{this.character_id}}</td>
			<td>{{this.player_id}}</td>
			<td>{{this.name}}</td>
			<td>{{this.level}}</td>
			<td>{{this.experience}}</td>
			<td>{{this.agility}}</td>
			<td>{{this.strength}}</td>
			<td>{{this.magic}}</td>
			<td>{{this.health}}</td>
		</tr>
    {{/each}}
	</tbody>
</table>
<p class="text-center">See character inventories <a href="/character_items">here</a></p>
<div class="form-btn-container">
  <button class="toggle" onclick="toggleAddForm()">Show/Hide Add Form</button>
  <button class="toggle" onclick="toggleUpdateForm()">Show/Hide Update Form</button>
  <button class="toggle" onclick="toggleSearchForm()">Show/Hide Search Form</button>
</div>
<div class="form-container">
  {{!-- Form to add a record to the table --}}
  <form class="add-entity-form hidden" id="add-character-form">
    <fieldset>
      <legend>Add a Character</legend>
      <label for="input-player-id">Player ID: </label>
      <select name="input-player-id" id="input-player-id">
        <option value="">Select a Player</option>
        {{#each players}}
        <option value="{{this.player_id}}">{{this.player_id}} ({{this.username}})</option>
        {{/each}}
      </select>
      
      <label for="input-character-name">Character Name: </label>
      <input type="text" name="input-character-name" id="input-character-name"/>
      
      <label for="input-character-level">Level: </label>
      <input type="number" name="input-character-level" id="input-character-level" min="0" max="100"/>
      
      <label for="input-character-experience">Experience Points: </label>
      <input type="number" name="input-character-experience" id="input-character-experience" min="0" max="100000"/>
      
      <label for="input-character-agility">Agility Points: </label>
      <input type="number" name="input-character-agility" id="input-character-agility" min="0" max="100"/>
      
      <label for="input-character-strength">Strengh Points: </label>
      <input type="number" name="input-character-strength" id="input-character-strength" min="0" max="100"/>
      
      <label for="input-character-magic">Magic Points: </label>
      <input type="number" name="input-character-magic" id="input-character-magic" min="0" max="100"/>
      
      <label for="input-character-health">Health Points: </label>
      <input type="number" name="input-character-health" id="input-character-health" min="0" max="100"/>

      <input type="submit"/> 
    </fieldset>
  </form>
  {{!-- Form to update a record from the table --}}
  <form class="update-entity-form hidden" id="update-character-form">
    <fieldset>
      <legend>Update a Character</legend>
      <label for="update-character-id">Character ID (Character Name): </label>
      <select name="update-player-id" id="mySelect">
        <option value="">Select a Character</option>
        {{#each data}}
          <option value="{{this.character_id}}">#{{this.character_id}} ({{this.name}})</option>
        {{/each}}
      </select>
      
      <label for="update-player-id">Player ID (Username): </label>
      <select name="update-player-id" id="update-player-id">
        <option value="">Select a Player</option>
        {{#each players}}
        <option value="{{this.player_id}}">#{{this.player_id}} ({{this.username}})</option>
        {{/each}}
      </select>
      
      <label for="update-character-name">Character Name: </label>
      <input type="text" name="update-character-name" id="update-character-name"/>
      
      <label for="update-character-level">Level: </label>
      <input type="number" name="update-character-level" id="update-character-level" min="0" max="100"/>
      
      <label for="update-character-experience">Experience Points: </label>
      <input type="number" name="update-character-experience" id="update-character-experience" min="0" max="100000"/>
      
      <label for="update-character-agility">Agility Points: </label>
      <input type="number" name="update-character-agility" id="update-character-agility" min="0" max="100"/>
      
      <label for="update-character-strength">Strengh Points: </label>
      <input type="number" name="update-character-strength" id="update-character-strength" min="0" max="100"/>
      
      <label for="update-character-magic">Magic Points: </label>
      <input type="number" name="update-character-magic" id="update-character-magic" min="0" max="100"/>
      
      <label for="update-character-health">Health Points: </label>
      <input type="number" name="update-character-health" id="update-character-health" min="0" max="100"/>

      <input type="submit"/> 
    </fieldset>
  </form>
  <form class="search-form hidden" id="search-character-form">
    <fieldset>
      <legend>Serach by Character Name</legend>
      <label for="input-name">Name: </label>
      <input type="text" name="name" id="input-name-html-search">

      <input type="submit">
      <a href="/"><button>Reset</button></a>
    </fieldset>
  </form>
</div>
<script src="./js/characters/add_character.js"></script>
<script src="./js/characters/update_character.js"></script>
<script src="./js/characters/delete_character.js"></script>
<script src="./js/buttons.js"></script>

