{{!-- Create a table --}}
<table>
  {{!-- Header Section --}}
	<thead>
    {{!-- For just the first row, we print each key of the row object as a header cell so we know what each column menas when the page renders --}}
		<tr>
			<th class="new-link" onclick="handleNewBtnClick()">New</th>
			<th></th>
			<th>ItemID</th>
			<th>Description</th>
			<th>Type</th>
			<th>Stat</th>
		</tr>
	</thead>
  {{!-- Body section --}}
	<tbody>
    {{!-- For each row, print the keys and attributes --}}
		{{#each data}}
		<tr data-value={{this.item_id}}>
			<td>Edit</td>
			<td>Delete</td>
			<td>{{this.item_id}}</td>
			<td>{{this.item_desc}}</td>
			<td>{{this.item_type}}</td>
			<td>{{this.item_stat}}</td>
		</tr>
    {{/each}}
	</tbody>
</table>
<div class="form-btn-container">
  <button class="toggle" onclick="toggleAddForm()">Show/Hide Add Form</button>
  <button class="toggle" onclick="toggleUpdateForm()">Show/Hide Update Form</button>
  <button class="toggle" onclick="toggleDeleteForm()">Show/Hide Delete Form</button>
</div>
<div class="form-container">
  <form class="add-entity-form hidden" id="add-item-form">
    <fieldset>
      <legend>Add an Item</legend>

      <label for="add-item-desc">Item Description: </label>
      <textarea name="add-item-desc" id="add-item-desc" placeholder="Describe the item here"></textarea>
      
      <label for="add-item-type">Item Type: </label>
      <select name="add-item-type" id="add-item-type">
        <option value="">Select an item type</option>
        <option value="consumable">Consumable</option>
        <option value="special">Special</option>
        <option value="weapon">Weapon</option>
        <option value="wearable">Wearable</option>
      </select>

      <label for="add-item-stat">Item Stat: </label>
      <input id="add-item-stat" name="add-item-stat" type="number" min="0" max="100"/>

      <input type="submit"/>
    </fieldset>
  </form>
</div>
<script src="./js/buttons.js"></script>
<script src="./js/items/add_item.js"></script>
