{{!-- Create a table --}}
<table>
  {{!-- Header Section --}}
	<thead>
    {{!-- For just the first row, we print each key of the row object as a header cell so we know what each column menas when the page renders --}}
		<tr>
			<th><a href="#add-entity-form">New</a></th>
			<th></th>
			<th>PlayerID</th>
			<th>Username</th>
			<th>SessionID</th>
		</tr>
	</thead>
  {{!-- Body section --}}
	<tbody>
    {{!-- For each row, print the keys and attributes --}}
		{{#each data}}
		<tr>
			<td class="edit-link" onclick="setupEditPlayer({{this.player_id}})">Edit</a></td>
			<td class="delete-link" onclick="deletePlayer({{this.player_id}})">Delete</td>
			<td>{{this.player_id}}</td>
			<td>{{this.username}}</td>
			<td>{{this.session_id}}</td>
		</tr>
    {{/each}}
	</tbody>
</table>
<div class="form-btn-container">
  <button class="toggle" onclick="toggleAddForm()">Show/Hide Add Form</button>
  <button class="toggle" onclick="toggleUpdateForm()">Show/Hide Update Form</button>
  <button class="toggle" onclick="toggleSearchForm()">Show/Hide Search Form</button>
</div>
<div class="form-container">
  <form class="add-entity-form" id="add-player-form">
    <fieldset>
      <legend>Add a Player</legend>

      <label for="input-session-id">SessionID (optional): </label>
      <select name="input-session-id" id="input-session-id">
        <option value="">Select a Session</option>
        {{#each sessions}}
          <option value="{{this.session_id}}">#{{this.session_id}} ({{this.map_location}})</option>
        {{/each}}
      </select>

      <label for="input-player-username">Username: </label>
      <input type="text" name="input-player-username" id="input-player-username" />

      <input type="submit"/>
    </fieldset>
  </form>
  <form class="update-entity-form" id="update-player-form">
    <fieldset>
      <legend>Update a Player</legend>
      
      <label for="input-player-id" id="mySelect">PlayerID: </label>
      <select name="input-player-id" id="input-player-id">
        <option value="">Select a Player</option>
        {{#each data}}
        <option value="{{this.player_id}}">#{{this.player_id}} ({{this.username}})</option>
        {{/each}}
      </select>

      <label for="input-player-username">Username: </label>
      <input type="text" name="input-player-username" id="input-player-username"/>
    </fieldset>
  </form>
  <form class="search-form" id="serach-player-form">
    <fieldset>
      <legend>Search by Username</legend>
      <label for="username">Username: </label>
      <input type="text" name="username" id="input-username-html-search"/>

      <input type="submit">
      <a href="/"><button>Reset</button></a>
    </fieldset>
  </form>
</div>
<script src="./js/players/add_player.js"></script>
<script src="./js/buttons.js"></script>
